@model IEnumerable<Parte02Aplicacion.Models.OrdenPago>

@{
    ViewBag.Title = "Index";
}

<h2>Lista OrdenPago</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moneda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaPago)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moneda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaPago)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDOrdenPago }) |
                @Html.ActionLink("Sucursal", "AsignarSucursal", new { id = item.IDOrdenPago }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDOrdenPago })
            </td>
        </tr>
    }

</table>
