@model Parte02Aplicacion.Models.Sucursal

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar Sucursal</h2>

<h3>Está seguro que desea eliminar esta sucursal?</h3>
<div>
    <h4>Sucursal</h4>
    <hr />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => model.IDSucursal, new { htmlAttributes = new { @class = "form-control" } })

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IDSucursal)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IDSucursal)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Direccion)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaRegistro)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BancoName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BancoName)
            </dd>

        </dl>

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Ir a Lista", "Index")
        </div>
    }
</div>
